html{
  scroll-behavior:smooth;
}
h1 {color: red;}

body {
  background-color: white;
}
.navbar{
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #FFCCFF;
  border-top: 3px solid white;
}
.navbar-brand img{
  width:94px !important;
}
.navbar-text {
  width:100%;
  text-align: center;
}

.navbar-collapse {
  justify-content: center;
}
.nav-item {
  font-weight: bold;
  padding: 0 35px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.text-center{
  align-items: center;
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #E30378;
}
.container-fluid{
  display: block;
  padding:0 0;
}
.top-gallery {
  height: 100vh;
}
.cover{
  width:100%;
  height: 100%;
  background-color:#FFCCFF;
  position: relative;
}
.promotions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.promotions img{
  width:50%;
  max-height: 100%;
  border: solid white 4px;
  border-bottom: 0;
}
.promotions:nth-of-type(1){
  border-top:0;
}
.background-cover{
  width:100%;
  height:100%;
  background:url(../images-occassions/valentine2.jpg); 
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  opacity: .2;
}
.cover img{
  width:100%;
}

.logo{
  position: absolute;
  top: 41%;
  left: 52%;
  transform: translate(-50%,-50%);
}

.locations-headline{
  text-align: center;
  font-family: Comicsansms;
  background: pink;
  background-color: #FFCCFF;
  padding: 10px 10px;
  border-top: white solid 4px;
  color: white;
  }
.locations-headline h1 {
  color: white;
}

.locations{
  padding:0 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.location{
  padding:5px 0;
  border: 1px solid pink;
}
.location-image{
  width:98%;
  margin:auto;
}
.location img{
  width:100%;
  transition: all .2s ease-in-out;
}

/*.location img:hover{
  opacity:.5;
}*/

.raleighhills img:hover {
  background-image: url("..images-locations/raleighhillshover.jpg");
}

.join-us {
  background-color: #FFCCFF;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 6%;
}
.join-us-col {
  display: inline-block;
  padding:10px;
  height: 100%;
}
.join-us-image {
  width: 40%;
}
.join-us-image img {
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}
.join-us-text {
  width: 60%;
  height: 50%;
  text-align: center;
}
.join-headline {
  width: 50%;
  margin: auto;
}
.join-us-text p{
  margin: 0 auto;
  text-align: center;
  color: white;
}
.join-button {
  align-items: center;
  margin: 25px 5px;
  background-color: white;
  border: none;
}
.join-button a {
  color: #FFCCFF;
  text-decoration: none;
}
.join-button:hover{
  color:white;
  background-color: #FFCCFF;
}
.join-button:hover a {
  color: white;
}
.card{
  background-color:#FFCCFF;
  color:white;
  margin: auto;
  border-radius: 25px;
  margin: 5px 5px;
  text-align: center;
}

@media screen and (max-width: 850px) {
/*  .column {
    flex: 100%;
  }*/
  .location{
    width:50%;
  }
  .card-columns {
    column-count: 1;
    display:block;
    width: 100%;
  }
  .join-us {
    text-align: center;
    width: 100%
  }

}





/*.navbar-light .navbar-nav .nav-link*/